# Cartella della tua libreria audio
/audio_library/
*.mp3
*.wav
*.json

/textfiles/

# Cache di Python (non servono a nessuno)
__pycache__/
*.py[cod]

# Ambienti virtuali (se usi venv)
venv/
env/
.env

# File temporanei IDE
.vscode/
.idea/
# NON TOGLIERE STO CAZZO DI COSO CHE STA ROMPENDO I COGLIONI PESANTEMENTE
.idea/workspace.xml

# File di sistema
.DS_Store
Thumbs.db